.products {
    
    display: flex;
    align-items: center;
    text-align: center;
}
 
 img{
     max-width: 300px;
 }
 a{
     text-decoration: none;
     font-size: 25px;
     color: black;
 }
 p{
     font-size: 40px;
 }
 .naruto{
     display: flex;
     align-items: center;
 }
 .naruto-img{
     max-width: 500px;
 }
 .back{
     margin-left: 150px;
     color: black;
     border: 1px solid #0000;
     background-color: snow;
 }
 span{
     padding: 5px;
 }