body {
  margin: 0;
}
h1 {
  text-align: center;
}
.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
  margin-bottom: 50px;
}
.danhlam {
  width: calc(33.333333% - 30px);
  margin: 15px;
}
.image {
  max-width: 100%;
  border: solid black;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  object-fit: cover;
  width: 265px;
  height: 177px;
}
.image:hover {
  transform: translate(-15px, -15px);
  transition: 0.5s cubic-bezier(0.5, 0.03, 0.41, 1);
}

a {
  text-decoration: none;
}

span {
  padding: 5px;
}
.hanoi-img {
  max-width: 500px;
  margin: auto;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
}

.back {
  position: relative;
  padding: 5px 10px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  border: 2px solid #000;
  box-sizing: border-box;
  transition: 0.5s;
}

.back:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #000;
  z-index: -1;
  transform: scale(0);
  transition: transform 0.5s;
  transform-origin: left;
}

.back:hover:before {
  transform: scaleX(1);
  transition: transform 0.5s;
  transform-origin: right;
}

.back:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #000;
  z-index: -1;
  transform: scale(0);
  transition: transform 0.5s;
  transform-origin: right;
}

.back:hover:after {
  transform: scaleX(1);
  transition: transform 0.5s;
  transform-origin: left;
}

.back:hover {
  color: #fff;
}

.hue-img {
  max-width: 500px;
  margin: auto;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
}
.halong-img {
  max-width: 500px;
  margin: auto;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
}
.hoian-img {
  max-width: 500px;
  margin: auto;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
}
.ninhbinh-img {
  max-width: 500px;
  margin: auto;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
}
.sapa-img {
  max-width: 500px;
  margin: auto;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
}
