* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  background: linear-gradient(to right, #28962f, #27ada0);
  text-align: center;
  width: 800px;
  margin: auto;
  height: 980px;
}

#headerpic {
  max-width: 100%;
  margin-top: -4vw;
}
.headerbot {
  color: #f3fffe;
  background: linear-gradient(to right, #28962f, #27ada0);
  position:relative;
  bottom: 10vw;
  width: 100%;
  height: 16vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 5vw;
  font-family: cursive;
  font-weight: bold;
}
.product-frame {
  margin-top: -7vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}
.product-detail {
  margin-bottom: 70px;
  width: 28.5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: auto;
  padding-top: 25px;
  padding-bottom: 15px;
  border-style: ridge;
  border-radius: 25px;
}

.product-name {
  display: flex;
  width: 90%;
  height: 15%;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 2vw;
  font-weight: 600;
}
.product-underline {
  color: wheat;
  font-size: 1.5vw;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
.product-pic {
  width: 90%;
}
img:not(#headerpic) {
  width: 100%;
}
